flows.json
[{"id":"77f270eb.5796c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4586d5fb.d680fc","type":"ibmiot in","z":"77f270eb.5796c","authentication":"apiKey","apiKey":"26b35eb4.390e82","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"Raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":131,"y":110,"wires":[["fa6ba700.83b4b8","458aa587.af823c","e59cc039.92d91","4200aaab.2b8ba4","7804904.a13147","1f2bff58.e74d41"]]},{"id":"fa6ba700.83b4b8","type":"debug","z":"77f270eb.5796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"458aa587.af823c","type":"function","z":"77f270eb.5796c","name":"Kaju","func":"global.set('Kaju',msg.payload.Kaju)\nmsg.payload=msg.payload.Kaju\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":63,"wires":[["fa6ba700.83b4b8","bd605af9.b4fc88"]]},{"id":"e59cc039.92d91","type":"function","z":"77f270eb.5796c","name":"Badam","func":"global.set('Badam',msg.payload.Badam)\nmsg.payload=msg.payload.Badam\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":143,"wires":[["fa6ba700.83b4b8","f825c2f2.9ecb3"]]},{"id":"bd605af9.b4fc88","type":"ui_gauge","z":"77f270eb.5796c","name":"","group":"3690c9a0.ccf756","order":1,"width":"3","height":"3","gtype":"wave","title":"Kaju","label":"Q","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":63,"wires":[]},{"id":"f825c2f2.9ecb3","type":"ui_gauge","z":"77f270eb.5796c","name":"","group":"3690c9a0.ccf756","order":2,"width":"3","height":"3","gtype":"wave","title":"Badam","label":"Q","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":163,"wires":[]},{"id":"64786654.3f8618","type":"http in","z":"77f270eb.5796c","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["e736e183.b7594"]]},{"id":"4281dcb0.1c4fe4","type":"http response","z":"77f270eb.5796c","name":"","statusCode":"","headers":{},"x":610,"y":400,"wires":[]},{"id":"e736e183.b7594","type":"function","z":"77f270eb.5796c","name":"","func":"msg.payload={'Kaju':global.get(\"Kaju\"),'Badam':global.get(\"Badam\"),'Pista':global.get(\"Pista\"),'lpg':global.get(\"lpg\"),'gas_leakage_detector':global.get(\"gas_leakage_detector\")}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["4281dcb0.1c4fe4"]]},{"id":"e62b66c8.d78f98","type":"function","z":"77f270eb.5796c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["548cecc0.715984","6ec6978.d3af168"]]},{"id":"ed457cc0.857a8","type":"http in","z":"77f270eb.5796c","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":160,"y":620,"wires":[["e62b66c8.d78f98"]]},{"id":"548cecc0.715984","type":"http response","z":"77f270eb.5796c","name":"","statusCode":"","headers":{},"x":610,"y":620,"wires":[]},{"id":"6ec6978.d3af168","type":"debug","z":"77f270eb.5796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":580,"wires":[]},{"id":"4200aaab.2b8ba4","type":"function","z":"77f270eb.5796c","name":"Pista","func":"global.set('Pista',msg.payload.Pista)\nmsg.payload=msg.payload.Pista\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":203,"wires":[["fa6ba700.83b4b8","eb8523e6.71aeb"]]},{"id":"7804904.a13147","type":"function","z":"77f270eb.5796c","name":"LPG","func":"global.set('lpg',msg.payload.lpg)\nmsg.payload=msg.payload.lpg\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["fa6ba700.83b4b8","7add931d.6b8dfc"]]},{"id":"1f2bff58.e74d41","type":"function","z":"77f270eb.5796c","name":"Gas Leakage Detector","func":"global.set('gas_leakage_detector',msg.payload.gas_leakage_detector)\nmsg.payload=msg.payload.gas_leakage_detector\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["fa6ba700.83b4b8","9ad83417.66c078"]]},{"id":"eb8523e6.71aeb","type":"ui_gauge","z":"77f270eb.5796c","name":"","group":"3690c9a0.ccf756","order":3,"width":"3","height":"3","gtype":"wave","title":"Pista","label":"Q","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":220,"wires":[]},{"id":"7add931d.6b8dfc","type":"ui_gauge","z":"77f270eb.5796c","name":"","group":"3690c9a0.ccf756","order":4,"width":"3","height":"3","gtype":"wave","title":"LPG","label":"Kg","format":"{{value}}","min":"10","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":280,"wires":[]},{"id":"9ad83417.66c078","type":"ui_gauge","z":"77f270eb.5796c","name":"","group":"3690c9a0.ccf756","order":5,"width":"3","height":"3","gtype":"wave","title":"Gas Leakage Detector","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":340,"wires":[]},{"id":"26b35eb4.390e82","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3690c9a0.ccf756","type":"ui_group","z":"","name":"Default","tab":"8ea2583b.40da98","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ea2583b.40da98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]